.btn {
  color: white;
  border-radius:10px;
  border: none;
  height: 50px;
  width: 100%;
  background-image: linear-gradient(.25turn, hsl(236, 72%, 79%), 10%, hsl(237, 63%, 64%));

}

.professional button {
  background-image: none;
  color: hsl(236, 72%, 79%);
}