.App {
  background-image: url('../public/images/bg-top.svg'), url('../public/images/bg-bottom.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: top right, bottom left;
  min-height: 100vh;  
}

h1 {
  padding: 20px 0px;
}
